<div class="large-11 columns">
	<div class="large-7 columns large-centered">

<div class="signup-form">
<fieldset>
  <legend><h3>Add Product</h3></legend>

<%= render 'form' %>


</fieldset>
</div> 
</div>
</div>