<div class="show-form">

<div class="bnt-link">
  	<%= link_to "More With Google", "http://google.com/search?q=#{@product.name}", :target => "blank", class: "button radius tiny"%>
</div>

<div class="name">
  <%= @product.name %>
</div>

<div class="image">
  <%= link_to image_tag @product.image, class: "fancybox" %>
	<div class="desc">
	  <%= @product.description %>
	  	<div class="price">
	  <%# number_to_currency(@product.price) %>
	</div>
	</div>
</div>




<%# link_to 'Edit', edit_product_path(@product) %> 
<%# link_to 'Back', products_path %>
</div>